@font-face {
    font-family: "iWaWa";
    src: url("//db.onlinewebfonts.com/t/970dc7403b1d2cbc3ab9b93315437204.eot");
    src: url("//db.onlinewebfonts.com/t/970dc7403b1d2cbc3ab9b93315437204.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/970dc7403b1d2cbc3ab9b93315437204.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/970dc7403b1d2cbc3ab9b93315437204.woff") format("woff"), url("//db.onlinewebfonts.com/t/970dc7403b1d2cbc3ab9b93315437204.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/970dc7403b1d2cbc3ab9b93315437204.svg#iWaWa") format("svg");
}
