[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
src = {editable = true, path = "./src"}

[dev-packages]

[requires]
python_version = "3"
